
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">


<style>.opaque{background-color: black; height: 400px;width: 700px; opacity: .7; padding:20px; border-radius: 10px;}
.whtTxt{color: white; opacity: 1;}.center{text-align:center;}input[type=search] {width:120px;text-align: center;}.info-panel{display:none;}</style>


  </head>

  <body id="body">

<div class="container-fluid">
<!--Header-->
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              TravelApp <small class=" whtTxt">For travel</small>
            </h1>
          </div>
        </div>
      </div>
<!--Nav-->
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Flights</a>
            </li>
            <li>
              <a href="#">Food</a>
            </li>
            <li>
              <a href="#">Fun</a>
            </li>
            <li>
              <a href="#">Lodging</a>
            </li>
          </ul>
              <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
              </ul>
              <% else %>
       <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
              </ul>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h2 class="whtTxt">
          Go on a trip or whatev. ¯\_(ツ)_/¯
    </h2>
  <br>
  </div>
<div class="col-md-6 col-md-offset-3">
  <div class="opaque">
  <div id ="togglelinks">
    <ul class="list-inline center">
      <li class="list-inline-item"><a class="toggle" href="#panel-one">
        <button type="button" class="btn btn-default btn-lg" id="flights">
          <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>  Flights
        </button></a>
      </li>
      <li class="list-inline-item"><a class="toggle" href="#panel-two">
        <button type="button" class="btn btn-default btn-lg" id="test">
          <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>  Food
        </button></a>
    </li>
    <li class="list-inline-item"><a class="toggle" href="#panel-three">
      <button type="button" class="btn btn-default btn-lg" id="test2">
        <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>  Hotels
      </button></a>
    </li>
    <li class="list-inline-item"><a class="toggle" href="#panel-four">
      <button type="button" class="btn btn-default btn-lg" id="test2">
        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>  Attractions
      </button></a>
    </li>
    <li class="list-inline-item"><a class="toggle" href="#panel-five">
        <button type="button" class="btn btn-default btn-lg" id="test2">
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>  Events
      </button></a>
    </li>
  </ul>
  </div>
  <br>
  <br>
  <div id="panels">
    <div id="panel-one" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="origin">
                Origin
              </label>
            <input type="search" class="form-control" id="origin" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="destination">
                Destination
              </label>
            <input type="search" class="form-control" id="destination" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="destination">
              Departure
            </label>
          <input type="search" class="form-control" id="departuredate" />
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="returndate">
              Return
            </label>
          <input type="search" class="form-control" id="returndate" />
          </div>
        </li>
        <br>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="maxprice">
              Max Price
            </label>
          <input type="number" class="form-control" id="maxprice" min="0" pattern="\d+"/>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="adults">
              Adults
            </label>
          <input type="number" class="form-control" id="adults" min="0" pattern="\d+"/>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="children">
              Children
            </label>
          <input type="number" class="form-control" id="children" min="0" pattern="\d+"/>
          </div>
        </li>
        <br>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="oneway">
              One way?
            </label>
          <input type="checkbox"  id="oneway" name="oneway"/>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="oneway">
              Direct Flight?
            </label>
          <input type="checkbox"  id="oneway" name="oneway"/>
          </div>
        </li>
        <br>
        <button type="submit" class="btn btn-default" id="submit2">
          Submit
        </button>
      </ul>
      </form>
      </div>
      <div id="panel-two" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="attractionlocation">
                Location
              </label>
            <input type="search" class="form-control" id="foodlocation" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="keyword">
                Keyword
              </label>
            <input type="search" class="form-control" id="foodkeyword" />
            </div>
          </div>
        </li>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="ME">
          Submit
        </button>
      </ul>
      </form>
      </div>
      <div id="panel-three" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="origin">
                Location
              </label>
            <input type="search" class="form-control" id="hotellocation" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="maxhotelrate">
                Maximum Rate
              </label>
            <input type="number" class="form-control" id="maxhotelrate" min="0" pattern="\d+"/>
            </div>
          </div>
        </li>
        <br>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="checkin">
                Check In
              </label>
            <input type="search" class="form-control" id="checkin" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="checkout">
                Check Out
              </label>
            <input type="search" class="form-control" id="checkout" />
            </div>
          </div>
        </li>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="submit3">
          Submit
        </button>
      </ul>
      </form>
      </div>

      <div id="panel-four" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="attractionlocation">
                Location
              </label>
            <input type="search" class="form-control" id="attractionlocation" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="keyword">
                Keyword
              </label>
            <input type="search" class="form-control" id="attractionkeyword" />
            </div>
          </div>
        </li>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="ME2">
          Submit
        </button>
      </ul>
      </form>
      </div>

      <div id="panel-five" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="eventlocation">
                Location
              </label>
            <input type="search" class="form-control" id="eventlocation" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="keyword">
                Keyword
              </label>
            <input type="search" class="form-control" id="keyword" />
            </div>
          </div>
        </li>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="ME">
          Submit
        </button>
      </ul>
      </form>
      </div>

    </div>
  </div>
</div>

<%= javascript_include_tag "script" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
