<!--Header-->
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              TravelApp <small class=" whtTxt">For travel</small>
            </h1>
          </div>
        </div>
      </div>
<!--Nav-->
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Flights</a>
            </li>
            <li>
              <a href="#">Food</a>
            </li>
            <li>
              <a href="#">Fun</a>
            </li>
            <li>
              <a href="#">Lodging</a>
            </li>
          </ul>
              <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>

              </ul>
              <% else %>
       <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
              </ul>
              <% end %>
            </li>
          </ul>
          </li>
        </div>
      </nav>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h2 class="whtTxt">
          Go on a trip or whatev. ¯\_(ツ)_/¯
    </h2>
  <br>
  </div>
