
<div class="jumbotron">
    <div class="container">

      <h2>Resend confirmation instructions</h2>

          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group col-md-8">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions col-md-8">
            <%= f.submit "Resend confirmation instructions" %>
            <% end %> <br>
            <%= render "devise/shared/links" %>
          </div>

</div>
</div>
