<%=@address  %>
<%=@trips  %>
<h1>HI</h1>
<%=@ID  %>
<form action='/hotels' method='POST'>
  <h2>Add a hotel:</h2>
  <label>Name</label><br>
    <input name='name' value='<%=@hotelname3  %>'><br>
  <label>Address</label><br>
    <input name='address' value = '<%=@address3  %>'><br>
  <label>Rate</label><br>
    <input name='rate' value='<%= @rate  %>'><br>
  <label>Phone Number</label><br>
    <input name='phone' value = '<%=@phone  %>'><br>
     <label>Pick a trip to add to</label><br>
    <input name='trip' value = '<%=@phone  %>'><br>
    <select name="trip">
    <% @trip.each do |trip|  %>
     <option name="trip"><%= trip['name']  %></option>
     <% end %>
     </select>

  <button>Submit</button>
</form>
<a href="/trips">Go Home</a>

